{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">SALEM CITY BLOG </h1>
    <h3>This is my Second project at ALSchool Africa!</h3>
    <h3>I am happy I'm making progress, even though work is choking me!</h3>
    <h3>I am determined to get as much as possible in this venture of mine!</h3>
    <h3>Courtesy of ALSchool Africa! Kudos to you guys!</h3>
    <h4>May the force be with you!</h4>

    <br />
    <div align="center">
      <a href="/home"
        ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
      >
    </div>
    {% endblock %}