{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}<br><br>
    <h1 align="center"><b>SALEM CITY BLOG </b></h1><br>
    <h3 align="center">Make Your Suggestions and Complaints</h3>
    
    <form method="POST">
    <label for="email"><b>Email Address</b></label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        ><br>
        <label><b>Message</b></label>
      <textarea name="text" id="text" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Send</button>
      </div>
    </form>
    <br />
    <div align="center">
      <a href="/home"
        ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
      >
    </div>
    {% endblock %}

