{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
      <br><br>
      <h1 align="left"><b>SALEM CITY BLOG</b></h1>
      <h3 align="center"><b>Login</b></h3>
      <div class="form-group">
        <label for="email"><b>Email Address</b></label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        />
        <label for="password"><b>Password</b></label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter Password"
        />
        <br />
        <div align="center">
          <button class="btn btn-primary" type="submit"><b>Login</b></button>
        </div>
      </div>
    </form>
    {% endblock %}